<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Themed4.Properties.Settings.MetadataTestConnectionString"
            connectionString="Data Source=DESKTOP-KTKBO78;Initial Catalog=MetadataTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Themed4.Properties.Settings.Alemana_ventasConnectionString"
            connectionString="Data Source=INTEL-PC\SQLEXPRESS;Initial Catalog=Alemana_ventas;User ID=root;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="C1ApplicationTheme" value="Office2016Colorful" />
    </appSettings>
</configuration>